/* 선택자(selector) */
/* div만 #앞에 생략 가능 */

#header-center{
    margin: 0 auto;
    width: 1080px;
}
/* 자식 선택자 */
#header-search > h1{
    width: 280px;
    display: inline-block;
}

/* 자손 선택자 */
/* #header-search h1{} */

#header-search h2{
    display: none;
}
#header-search fieldset{
    width: 520px;
    display: inline-block;
}